<% include ../partials/header %>

<div class="container">
    <h1 class="eventTitle"><%= event.title %></h1>
    <div class="row">
        <div class="col-lg-4">

            <img class="showImg" src="<%= event.image %>">
            
            <p><i><strong>Submitted by: <%= event.author.username %>
            </strong></i></p>
            
            <% if(currentUser && currentUser.isAdmin){  %>
            
            <a class="btn btn-warning" href="/events/<%= event._id %>/edit">Edit Event</a>
            <form id="delete-form" action="/events/<%= event._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete Event</button> 
            </form>
            <% } %>
            
            <a class="btn btn-success" href="/events">Go Back</a>
        </div>
        <div class="showInfo col-lg-8">
              <h2>Location: <%= event.location %></h2>
            <h3>Date: <%= event.date.toDateString() %></h3>
            <h3>Time: <%= event.time %></h3>
             <p><%= event.description %></p>
            
           
        
        </div>
    </div>
</div>


<% include ../partials/footer %>
